{% extends 'base.html' %} {% block content %}
<main>
  <div>
    <h1>{{ todo_list.name }}</h1>
    <h2>Tasks</h2>
    <table>
      <thead>
        <tr>
          <th>Task</th>
          <th>Due date</th>
        </tr>
      </thead>
      <tbody>
        {% for item in todo_list.items.all %}
        <tr>
          <td>{{ item.task }}</td>
          <td>{{ item.due_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}
