{% extends 'base.html' %} {% block content %}
<main>
  <div>
    <h1>My Lists</h1>
    <p><a href="{% url 'todo_list_create' %}">Create a new list</a></p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of items</th>
        </tr>
      </thead>
      <tbody>
        {% for todo_list in todo_lists %}
        <tr>
          <td>
            <a href="{% url 'todo_list_detail' todo_list.id %}"
              >{{ todo_list.name }}</a
            >
          </td>
          <td>{{ todo_list.item_count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}
