{% extends 'base.html' %} {% block content %}
<main>
  <div>
    <h1>Create a new list</h1>
    <form method="post">
      {% csrf_token %}
      <input type="text" name="name" placeholder="List Name" required />
      <button type="submit">Create</button>
    </form>
  </div>
</main>
{% endblock %}
